.App {
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.App-container {
  max-width: 760px;
  flex-basis: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  background-color: cadetblue;
  color: white;
}

.data-container {
  
}